html{
    height: 100vh;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.column, .row{
    display: inline-flex;
}

.column{
    flex-flow: column;
}

.row{
    flex-flow: row;
}

.fill-width{
    width: 100%;
}


.width-300px{
    width: 300px;
}

.padding-10px{
    padding: 10px;
}

#logger{
    margin-top: auto;
    border-top: 1px solid;
    padding-top: 10px;
}

span.title{
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 1px solid;
    margin: 10px 0;
}

select{
    width: 100%;
    height: 30px;
    margin: 4px;
}

button.control-button{
    width: 30%;
    height: 30px;
    margin: 0 1%;
}

button.full-button{
    width: calc(100% - 8px);
    height: 30px;
    margin: 0 4px;
}